*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

span img{
    width:250px;
    height: 250px; 
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;

}

.bigbox{
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: animate 30s linear infinite;
}

@keyframes animate{

    0%{
        transform: perspective(1000px) rotateY(0deg);
    }
    100%{
        transform: perspective(1000px) rotateY(360deg);
    }

}

.bigbox span{

    position: absolute;
    top :0;
    left:0; 
    width: 100%;
    height: 100%;
    transform-origin:center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) *45deg)) translateZ(400px);
    -webkit-box-reflect: below 0px liner-gradient(transparent , transparent , black ) ;
}

.bigbox span img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



img:hover{
    cursor: pointer;
    box-shadow: 10px 10px 10px rgb(15, 166, 212);
}

.bigbox:hover{
    animation-play-state: paused;
}